<br>
<section>
  <h3> Pipes Component </h3>
  <input type="text" [(ngModel)]="randomText" placeholder="Blah blah blah">

  <p>
    Right now it's
    {{ rightNow | date:'h:mm a on EEEE, MMMM d, y' }}
  </p>
  <button (click)="addOneHour()"> Add an hour </button>

  <p>
    Current Investment:
    {{ currentInvestment | currency:'EUR':true }}
  <!-- adding ':true' turns the currency letters into its symbol -->
  </p>

  <label for="rock-search">Search for your favorite The Rock</label>
  <input id="rock-search" type="search" placeholder="Fast and Furious"
         [(ngModel)]="rockSearchText">
  <ul>
    <li *ngFor="let rock of (theRockArray | doTheSearch:rockSearchText)">
      <h4> {{ rock.name }} </h4>
      <img [src]="rock.pictureUrl">
    </li>
  </ul>

  <p> {{ randomText | uppercase }} </p>
  <p> {{ randomText | lowercase }} </p>
  <p> {{ randomText | capitalize }} </p>
  <p> {{ randomText | emojify }} </p>

</section>
<br>
