<section>
  <h3> Inputs in Angular </h3>

  <label for="username-input"> What's your name? </label>
  <input id="username-input" type="text" placeholder="Dr. Seuss"
         [(ngModel)]="username">
  <!-- store username in the 'username' variable -->
  <br>
  <h3 *ngIf="username">
    Hello, {{ username }}
  </h3>

  <p> {{ message }} </p>

  <!-- store user's choice in the 'lunchSelection' variable -->
  <!-- this won't work unless Forms Module is imported inside app.module.ts -->
  <!--        |                                             -->
  <!--        |                                             -->
  <select [(ngModel)]='lunchSelection'
          (change)='reactToSelection()'>
    <option value=""> Click to see options </option>
    <option value="taco-bell"> Taco Bell </option>
    <option value="ceviche"> Ceviche</option>
    <option value="sushi"> Sushi </option>
    <option value="lasagna"> Lasagna </option>
    <option value="arepa"> Arepa </option>
  </select>

  <div>
    <h3> What product do you need right now? </h3>

    <label for="product-name"> Name </label>
    <input id="product-name" type="text"
           [(ngModel)]="theProduct.title">
    <br>
    <label for="product-price"> Price </label>
    <input id="product-price" type="number" step="0.10"
           [(ngModel)]="theProduct.price">
    <br>
    <label for="product-description"> Description </label>
    <textarea id="product-description"
              [(ngModel)]="theProduct.description"></textarea>
    <br>
    <button (click)='createProduct()'> Submit </button>
  </div>
</section>
