<br>
<section>
  <h3> Directives Examples </h3>

  <button (click)="buttonA()">
    Toggle Size
  </button>
  <button (click)="buttonB()">
    Toggle Color
  </button>
  <button (click)="buttonC()">
    Toggle Font
  </button>
  <!-- these are buttons that affect the appearance of the following div -->


        <!-- 'big' is the class name
                      |  'isBigSize' is the variable name
                      |      |          -->
  <div [ngClass]="{ big: isBigSize, colorful: hasColor, comic: isComic }">
    <p>Lorem ipsum dolor sit amet.</p>
  </div>

  <select [(ngModel)]="dropddownSelection">
    <option value="">Choose your Pizza</option>
    <option value="nyc">New York Style</option>
    <option value="deep">Chicago Deep Dish</option>
    <option value="thin">Thin Crust</option>
    <option value="wood">Wood Oven</option>
  </select>

  <div [ngSwitch]="dropddownSelection">
    <div *ngSwitchCase="'nyc'">
               <!-- strings go quotes in quotes -->
      <img src="https://media.giphy.com/media/np7SE8tcAmL3W/giphy.gif">
    </div>

    <div *ngSwitchCase="'deep'">
      <img src="https://media.giphy.com/media/YFSMDywAAGQIo/giphy.gif">
    </div>

    <div *ngSwitchDefault>
      <h4> Cool, I guess. </h4>
    </div>
  </div>
</section>
